<!DOCTYPE HTML>
<html>
<head> 
    <script
  src="https://code.jquery.com/jquery-3.5.1.slim.js"
  integrity="sha256-DrT5NfxfbHvMHux31Lkhxg42LY6of8TaYyK50jnxRnM="
  crossorigin="anonymous"></script>
<script src="https://cdn.socket.io/3.1.1/socket.io.min.js"></script>
 
<script>


window.onload = function () {

let numeroPuntos = 0;

let socket = io();

socket.on('data',function(data){
	console.log(data)
	chart.options.data[0].dataPoints.push({y:parseFloat(data)})
	chart.render();
	
})

let chart = new CanvasJS.Chart("chartContainer", {
	animationEnabled: true,
	theme: "light2",
	title:{
		text: "TEMPERATURA"
	},
	data: [{        
		type: "line",
      	indexLabelFontSize: 16,
		dataPoints: []
	}]
});
chart.render();

}
</script>
</head>
<body>
<div id="chartContainer" style="height: 300px; width: 100%;"></div>
<div>
	Hecho por Harol Alvarado
</div>
<div>
	High Level of Code
</div>
<script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
</body>
</html>